[package]
name = "magic-wormhole"
version = "0.0.3-alpha.0"
authors = ["Brian Warner <warner@lothar.com>"]
license = "MIT"
homepage = "http://magic-wormhole.io/"
repository = "https://github.com/warner/magic-wormhole.rs"
edition = "2018"
description = "Get things from one computer to another, safely"
readme = "README.md"

# the MSRV is: rust-1.42.0
# * rustyline-derive-0.3.1 needs 1.42: 'use proc_macro' without 'extern crate proc_macro'
# * rustyline-6.0 needs 1.40: #[non_exhaustive]
# * xsalsa20poly1305-0.3.1 needs 1.37: copy_within
# * sodiumoxide-0.2.4 needs 1.36: mem::MaybeUninit

[badges]
travis-ci = { repository = "warner/magic-wormhole.rs" }

[dependencies]
serde = "1.0"
serde_json = "1.0"
serde_derive = "1.0"
xsalsa20poly1305 = "0.3"
spake2 = "0.2.0"
sha2 = "0.8"
hkdf = "0.8.0"
hex = "0.4"
rand = "0.7"
regex = "1.0"
log = "0.4"
zeroize = { version = "1.1", features = ["zeroize_derive"] }
sodiumoxide = "0.0.16"
pnet = "0.26.0"
byteorder = "1.2.1"
anyhow = "1.0.32"
crossbeam-utils = "0.7.2"

# for "io_blocking" feature
ws = { version = "0.9", optional = true }
url = { version = "2.1", optional = true }

# for "io_tokio" feature
websocket = { version = "0.24", optional = true }
futures = { version = "0.3", optional = true }
tokio-core = { version = "0.1", optional = true }

# for "bin" feature
clap = { version = "2.32", optional = true }
env_logger = { version = "0.7", optional = true }

[dev-dependencies]
ws = "0.9"
url = "2.1"
rustyline = "6.0"
rustyline-derive = "0.3"
parking_lot = {version = "0.10", features = ["deadlock_detection"]}
env_logger = "0.7"

[features]
default = ["io-blocking", "io-tokio", "bin"]
io-blocking = ["ws", "url"]
io-tokio = ["websocket", "futures", "tokio-core"]
bin = ["clap", "env_logger"]

[[bin]]
name = "wormhole"
path = "src/bin/main.rs"
required-features = ["io-blocking"]

[profile.release]
overflow-checks = true
