[package]
name = "magic-wormhole"
version = "0.3.0"
authors = [
    "piegames <info@piegames.de>",
    "Brian Warner <warner@lothar.com>"
]
license = "EUPL"
homepage = "http://magic-wormhole.io/"
repository = "https://github.com/magic-wormhole/magic-wormhole.rs"
edition = "2021"
description = "Get things from one computer to another, safely"
readme = "README.md"
default-run = "wormhole-rs"

[badges]
travis-ci = { repository = "warner/magic-wormhole.rs" }

[dependencies]
serde = { version = "1.0.120", features = ["rc"] }
serde_json = "1.0.61"
serde_derive = "1.0.120"
xsalsa20poly1305 = "0.8.0"
spake2 = "0.2.0"
sha-1 = "0.9.8"
sha2 = "0.10.0"
hkdf = "0.12.2"
hex = { version = "0.4.2", features = ["serde"] }
rand = "0.8.3"
regex = "1.4.3"
log = "0.4.13"
# zeroize = { version = "1.2.0", features = ["zeroize_derive"] }
get_if_addrs = "0.5.3"
byteorder = "1.4.2"
base64 = "0.13.0"
futures_ringbuf = "0.3.1"
tar = "0.4.33"
time = { version = "0.3.7", features = ["formatting"] }

derive_more = { version = "0.99.0", default-features = false, features = ["display", "deref", "from"] }
thiserror = "1.0.24"

futures = "0.3.12"
async-std = { version = "1.9.0", features = ["attributes", "unstable"], git = "https://github.com/async-rs/async-std" }
async-tungstenite = { version = "0.16.1", features = ["async-std-runtime", "async-tls"] }
async-io = "1.6.0"
socket2 = "0.4.1"
libc = "0.2.101"
stun_codec = "0.1.13"
bytecodec = "0.4.15"

# for "bin" feature
clap = { version = "3.1.5", optional = true, features = ["cargo", "derive", "wrap_help"] }
env_logger = { version = "0.9.0", optional = true }
console = { version = "0.15.0", optional = true }
indicatif = { version = "0.16.0", optional = true }
dialoguer = { version = "0.10.0", optional = true }
color-eyre = { version = "0.6.0", optional = true }
number_prefix = { version = "0.4.0", optional = true }
url = { version = "2.2.2", features = ["serde"] }
uri = "0.4.0"
rmp-serde = "0.15.5"
http = "0.2.5"
ctrlc = "3.2.1"

# for some tests
[dev-dependencies]
env_logger = "0.9.0"
eyre = "0.6.5"

[features]
bin = ["clap", "env_logger", "console", "indicatif", "dialoguer", "color-eyre", "number_prefix"]
# TODO remove this one day
# - Removing it now requires all cargo calls to have --features=bin which is annoying
# - There is a cargo issue that would allow proper bin dependencies and thus would resolve it
# - We could separate bin and lib into separate workspace projects
default = ["bin"]

[[bin]]
name = "wormhole-rs"
path = "src/bin/main.rs"
required-features = ["bin"]

[profile.release]
overflow-checks = true
strip = "debuginfo"
lto = "thin"
